<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Styleheets/stylewithJS.css" />
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../Assets/Javascript/scriptwithJS.js"></script>
    <title>to do list</title>
</head>

<body>
    <div class="container my-5">
        <div class="maindiv d-flex">
            <input type="text" id="maininput" class="form-control me-2 p-2" placeholder="Enter Task">
            <button onclick="addtask()" id="btn-main" type="button" class="btn btn-danger btn-main py-2">Add
                Task</button>
        </div>
        <ul id="inputsave"></ul>
    </div>
    <div class="container">
        <h5 class="fw-bold">Complete Tasks</h5>
        <ul id="complete-task"> </ul>
    </div>
</body>

</html>